extends layout

block append scripts

block heading

block body
	article
		section.monthly
			header 
				h2 Monthly
			ol.events
				li.vcard 
					h3
						a Thing 1
					p.who Humans
					p.when Last Wednesday
		section.weekly
			header
				h2 Weekly
			ol.events
				li.vcard 
					h3
						a Thing 2
					p.who Pythonistas
					p.when First Wednesday
		section.irregular
			header
				h2 Irregular
			ol.events
				li.vcard 
					h3
						a Thing 3
					p.who Rubyists
					p.when First Tuesday

	footer
		| howdy howdy howdy
