doctype 5
html
   head
      title kansascity2: what's on
         block title
            |?

      block styles
         != css("reset")
         != css("core")
         != css("event")
         != css("tipsy")
         
      block scripts
         script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
         != js("jquery.tipsy")
         != js("jquery.unspamify")
         != js("pages/layout")
         != js("pages/add_event")
         script
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-34184498-1']);
            _gaq.push(['_trackPageview']);

            (function() {
               var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
               ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
               var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

   body(class=viewClass(locals))
      header
         h1 kansascity2: what's on

         .add
            nav
               ul
                  li.add_event
                     a(href="/add_event/") Add your event

      block body

      footer
         | report errors or abuse to 
         a.unspamify-me ascalonx at gmail dot com
         |  or @dustyburwell